html{
    box-sizing: border-box;
    overflow-x: hidden;

}

*,*::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

body{
    color: #2f3035;
    font-family:'SFProDisplay-Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    overflow-x: hidden;

    min-width: 320px;
}
/*Body*/
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*Menu*/
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    font-weight: 600;
    font-family: 'SFProDisplay-Bold', sans-serif;
    border-bottom: 1px solid #2f3035;
    margin-bottom: 50px;
}


.menu__item{
    display: inline-block;
    cursor: pointer;
    
}

.menu ul li:hover{
   
    transition-duration: 0.1s;
    text-shadow: 0 0 .60px #333, 0 0 .60px #333;
    
   
}

.menu__btn{
    display: none;
}

.menu-mobile__list{
    width: 243px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    transform: translateX(-100%);
    transition-duration: 0.3s;
    position: absolute;
    z-index: 15;
    background-color: #fff;
    display: none;
    height: 100%;
}

.menu-mobile__item{
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-mobile__link{
    display: block;
    padding-left: 50px;
    padding-top: 36px;

}

.menu-mobile__list--active{
    transform: translateX(0%);
}

.menu-mobile__img{
    position: absolute;
    left: 11px;
    bottom: 0;
}

.menu ul li{
    position: relative;
    margin: 30px;
    
   
}

.profile:hover{
    text-shadow: 0 0 .80px #333, 0 0 .80px #333;

}

.user-list{
    margin-right:15px ;
    display: flex;
    align-items: center;
}

.user-list__item{
    
    padding-right: 30px;
    font-size: 24px;
    line-height: 24px;
}

.basket{
    position: relative;
}

.basket:hover{
    text-shadow: 0 0 .80px #333, 0 0 .80px #333;
}
.basket:hover .basket__num{
    text-shadow: 0 0 .80px #1c62CD, 0 0 .80px #1c62CD;
    font-size: 11px;
}

.basket__num{
    position: absolute;
    font-weight: 500;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-color: #1c62CD;
    border-radius: 50%;
    text-align: center;
    bottom: 0;
    right: 0;
    bottom: -16px;
    right: -16px;
}

.heart:hover> i{
    color: red;
    transition-duration: 0.2s;
}
/*Menu*/

/*Slider*/
.banner-section__slider{
    max-width:756px;
    margin-bottom: 50px;
    


}


/* .banner-section__slider-img{
    background-image: url(images/2007231.jpg);
    display: block;
    padding-top: 100%;
    overflow: visible;
    height: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
} */
.banner-section__inner{
    display: flex;
    justify-content: space-around;
    
}

.banner-section__slider-btn,
.product-slider__slider-btn
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    z-index: 5;
    border: none;
    cursor: pointer;
    background-color: transparent;
    
}

.banner-section__slider-btn:hover{
    font-size: 24px;
    line-height: 24px;
    transition-duration: 0.2s;
    
}

.banner-section__slider-btnprev{
    left:20px;
}

.banner-section__slider-btnnext{
    right: 20px;
}

.slick-dots{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    


}

.slick-dots li{
    display: inline-block;
    padding: 0 5px;
}

.slick-dots button{
    padding: 0;
    font-size: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgb(255, 253, 253);
    background-color: transparent;
    
}

.slick-dots .slick-active button{
    background-color: rgb(255, 255, 255);
}

.slick-active li button{
    background-color:#1c62CD;
    width: 17px;
    height: 17px;
    
     
}

.product-slider .slick-dots button{
    background-color: #c4c4c4;
}

.product-slider .slick-dots .slick-active button{
    background-color: #1C62CD;
}
/*Slider*/
.product-slider .slick-dots{
    bottom: -30px;

}
/*Search*/
.search__tabs{
    margin-bottom: 30px;
}
.search__inner{
    margin-bottom: 50px;
}



.search__tabs-item{
    padding: 11px 26px 12px;
    font-weight: 500;
}

.search__tabs-item.tab-active{
    border-radius: 5px;
    background: #f0f0f4;
    font-weight:bold;
    

}

.tabs-content.tabs-content--active{
    display: block;
}

.tabs-content{
    display: none;
}

.search__content-form{
    display: flex;
}

.search__content-input{
    background: #f0f0f4;
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    line-height: 19px;
    font-size: 16px;    
    width: 100%;
}

.search__content-input::placeholder{
    color: #656464;
}

.search__content-btn{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: #fff;
    background: #1c62CD;
    border-radius: 3px;
    padding: 17px 40px;
    border: none;
    margin-left: -3px;
    cursor: pointer;
}


.search__content-btn:hover{
    box-shadow:  -1px 1px hsl(0, 0%, 7%), 
    1px -1px hsl(0, 0%, 7%),
    inset 0 1px 1px  hsl(0, 0%, 7%),
    inset 0 -1px 1px  hsl(0, 0%, 7%);
}
/*Search*/
/*categories*/
.categories__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item{
    margin-bottom: 50px;
    border: 1px solid #dbdada;
    border-radius: 3px;
    width: 370px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    transition-duration:all 0.3s;

}

.categories__item:hover .categories__item-title{
    color: #1c62CD;
  
}

.categories__item:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item-info{
    width: 50%;
    z-index: 10;
}
.categories__item-img{
    text-align: center;
    width: 50%;
    z-index: 1;
}
.categories__item-img img{
    max-width: 100%;
    
}

.categories__title{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
    z-index: 10;
    /* text-align: center; */
}
/*categories*/
/* product */
.product-item{
    min-height: 350px;
    border:1px solid #dbdada ;
    border-radius: 3px;
    text-align: center;
    padding: 30px 20px 31px;
    display: flex;
    display: block;

       

}

.product-item__img{
    display: block;
    padding-top: 100%;
    overflow: visible;
    height: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(images/night-vision-1.jpg);

}


.product-item__wrapper{
  
    max-width: 270px ;
    position: relative;
}
.product-item__title{
    font-weight: normal;
    padding: 6px 0 10px;

}

 .product-item__favourite{
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    height: 24px; 
    z-index: 5; 
    position: absolute;

   cursor: pointer;
    
}

.product-item__favourite--active{
    color: red;

}

 .product-item__favourite::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    
}
.product-item__basket{
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: #1c62CD;
    border-radius: 10px 0px 0px 0px;
    bottom: 0;
    right: 0;
    border: none;
    cursor: pointer;
    z-index: 10;
}
.product-item__basket i{
    color: #f0f0f4;
}

.product-item__price{
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.product-item__hover-text{
    padding: 18px 21px;
    background:rgba(255,255,255,.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    display: inline-block;
    left: 15px;
    right: 15px;
    top: 33%;
    opacity: 0;
    transition-duration: all .3s;
}

.product-item:hover .product-item__hover-text{
    opacity: 1;
}
.product-item:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.product-item-sale::before{
    content: "ЗНИЖКА";
    padding: 8px 15px;
    background-color: #1c62CD;
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    /* border-radius: 0px 0px 10px 0px; */
     
}

.product-item__wrapper.product-item__not-available .product-item__price{
    display: none;
}
.product-item__notify{
    display: none;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 700;
}

.product-item__wrapper.product-item__not-available .product-item__notify{
    display: block;
}
.product-item__wrapper.product-item__not-available .product-item__basket{
    display: none;
}

.product-item:hover .product-item__notify-text{
    color: #2F3035;
}

.product-item__notify-link{
    display: none;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link{
    display: block;
    position: absolute;
    bottom: 7px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1c62CD;

    left: 0;
    right: 0;

}

.product-item__wrapper.product-item__not-available .product-item__notify-link span{
    border-bottom: 1px solid #1c62CD;
}

.product__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}

.product-slider__slider-btnprev{
    left:-40px;
}

.product-slider__slider-btnnext{
    right: -20px;
}

 .product__more{
     text-align: center;
     margin:35px 0 0;
 }

 .products{
     margin-bottom: 80px;
 }

.product__more-link{
    line-height: 18px;
    letter-spacing: 0.12em;
    font-size: 15px;
    text-transform: uppercase;
    background: #f0f0f4;
    padding: 16px 43px;
    display: inline-block;
}
/* product */
/* footer */
.footer{
    background: #f0f0f4;

}

.footer__bottom{
    padding: 60px 0 22px;
    display: flex;
    justify-content: center;
}
.footer__bottom-link{
    line-height: 12px;
    color: #48494D;
    font-size: 10px;
    margin: 0 40px;
    font-size: 12px;
}

.footer__top{
    padding-top: 43px;

}

.footer__top-inner{
    display: flex;
    justify-content: space-between;
}

.footer__top-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.footer-list__contact span{
    padding-left: 5px;
}

.fa-whatsapp{
    color: rgb(115, 241, 115);
    font-size: 24px;
}

.fa-viber{
    color: violet;
}

.footer-list__item{
    font-size: 14px;
}
/* footer */
/* breadcrumbs */

.breadcrumbs{
    margin-bottom: 40px;
}

.breadcrumbs__list-item{
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    line-height: 18px;
    font-size: 15px;
    color: #c4c4c4;
}

 .breadcrumbs__list-item::after{
    content: ">";
    position: absolute;
    right: 0;
    width: 6px;
    height: 6px;

} 

.breadcrumbs__list-item:last-child::after{
    display: none;
}

/* breadcrumbs */

/* Categories-page */
.categories-page__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 32px;
    margin-bottom:50px;
    text-align: center;

}

.categories-page__item{
    margin-bottom: 50px;
    border: 1px solid #dbdada;
    border-radius: 3px;
    width: 370px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    transition-duration:all 0.3s;
}

.categories-page__item:hover .categories__item-title{
    color: #1c62CD;
  
}

.categories-page__item:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

/* Categories-page */



/*Delivery-page*/

.delivery__title h3{
    font-size: 28px;
    margin-bottom: 5px;
    line-height: 26px;

}

.delivery__title{
    margin-bottom: 50px;

    
}

.delivery-info__item-top h4{
    padding-bottom: 20px;
    font-size: 24px;

}

.delivery-info__item-top h5{
    font-weight: 600;
    font-size: 25px;
}

.delivery-info__items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

}

.delivery-info__item-top{

    padding-top:15px;
    padding-top: 30px;
}

.delivery-info__item-bottom::before{
    content: "◦";
    color: #1c62CD;

}   

.delivery-info__item-bottom{
    font-size: 22px;
    padding: 15px 10px 5px;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);

}

.delivery__inner{
    margin-bottom: 80px;
}

.delivery-info__item-top-map{
    margin-top: 40px;
}

.delivery-info__item-bottom-town{
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    padding: 15px 10px 5px;
    font-size: 19px;

}
.delivery-info__item-bottom-town::before{
    content: "◦";
    color: #1c62CD;
}
/*Delivery-page*/


/* Return-info__page */

.return-page__title{
    margin-bottom: 40px;

}
.return-page__title{
    font-size:  28px ;
    line-height: 26px;
}

.return-info__item-top{
    margin-bottom: 15px;
    margin-top: 10px;



}

.return-info__item-top h4{
    padding-bottom: 15px;
    font-size: 24px;


}

.return-info__item-bottom-li{
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    padding: 15px 0 5px;
    font-size: 18px;
    padding-left: 15px;
}

.return-info__item-bottom-li::before{
    content: "◦";
    color: #1c62CD;

}

.return-info__text{
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 80px;
    margin-top: 40px;

}

.return-info__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}
/* Return-info__page */




/* about-us__page */

.about-us__content-text{
    padding-bottom: 7px;
    font-size: 20px;
    line-height: 20px;


}

.about-us__inner{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-us__title{
    margin-bottom: 40px;

}

.about-us__title h4{
    font-size:  28px ;
    line-height: 26px;

}
/* about-us__page */